@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

$font_raleway: 'Raleway', serif;


body {
  color: #576671;
  letter-spacing: 0.25px;
  font-family: $font_raleway;
  font-size: 16px;
  line-height: 2;
  overflow-wrap: break-word;
}

article {
  h3 {
    font: inherit;
    font-size: 30px;
    color: #000;
    line-height: 30px;
    margin: 0;
  }
  h2 {
    font-size: 60px;
    line-height: 96px;
    font-weight: 200;
  }
}

.__about_us__article_description {
  header {
    p {
      padding: 35px 0 110px;
      font-size: 18px;
      overflow-wrap: break-word;
      @include respond(md) {
        padding: 35px 0 40px;
      }
      @include respond(sm) {
        padding: 35px 0 30px;
      }
    }
  }

  h2 {
    color: #576671;
    font-size: 60px;
    line-height: 90px;
    font-weight: 200;
    margin: 0;
    @include respond(sm) {
      font-size: 40px;
      line-height: 58px;
    }
  }
}

.__prime__article_description, .__secondary__article_description{
  h2{
    font-size: 60px;
    line-height: 96px;
    font-weight: 200;
    color: #576671;
    margin: 0;
    @include respond(md) {
      font-size: 45px;
      line-height: 53px;
    }
    @include respond(sm) {
      font-size: 40px;
      line-height: 58px;
    }
  }
  p{
    padding: 50px 0;
    @include respond(md) {
      padding: 25px 0;
    }
    @include respond(sm) {
      padding: 10px 0;
    }
  }
}


.nav__item{
  a{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: #5a5a5a;
      transition: all 0.5s;
    }
  }
}
.nav_collapse__item{
  a{
    font-size: 60px;
    line-height: 100px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: #5a5a5a;
      transition: all 0.5s;
    }
  }
}

.carousel{
  h2{
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    letter-spacing: 0.25px;
    color: #fff;
    padding: 0 0 20px;
    margin-bottom: 0;
    @include respond(lg) {
      font-size: 42px;
    }
    @include respond(sm) {
      font-size: 24px;
      line-height: 30px;
      padding: 0 0 0;
    }
  }
  p{
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    margin: 0;
    overflow-wrap: break-word;
    @include respond(sm) {
      font-size: 18px;
    }
  }
  span{
    font-weight: 700;
  }
}

._card_item_ {
  p {
    font-size: 16px;
    letter-spacing: 0.25px;
    @include respond(md) {
      padding-bottom: 20px;
    }
  }
  h3{
    padding: 55px 0 25px;
    @include respond(md) {
      padding: 25px 0 25px;
    }
    @include respond(sm) {
      padding: 20px 0 20px;
    }
  }
}


._text_center_ {
  text-align: center;
}