
//BREAKPOINTS//

@mixin respond($breakpoint) {
  @if($breakpoint == xl)  {
    @media (max-width: $--viewport-16-) { @content }
  }
  @if($breakpoint == lg)  {
    @media (max-width: $--viewport-12-) { @content }
  }
  @if($breakpoint == md)  {
    @media (max-width: $--viewport-9-) { @content }
  }
  @if($breakpoint == sm)  {
    @media (max-width: $--viewport-7-) { @content }
  }
  @if($breakpoint == xs)  {
    @media (max-width: $--viewport-4-) { @content }
}
}

//GRID//

@mixin spacing( $value, $type: margin, $orientation: vertical ) {
  @if $orientation == vertical {
    #{ $type }-top: $value;
    #{ $type }-bottom: $value;
  } @else {
    #{ $type }-left: $value;
    #{ $type }-right: $value;
  }
}

@mixin grid-base( $namespace ) {
  .#{ $fg-class-col }-#{$namespace} {
    @extend %#{ $fg-class-col }-flex;
  }

  @for $i from 1 through $fg-columns {
    .#{ $fg-class-col }-#{$namespace}-#{$i} {
      @extend %#{ $fg-class-col };
    }
  }
}

@mixin grid-sizes( $namespace ) {

  // Run the loop for as many columns as speficied
  @for $i from 1 through $fg-columns {
    .#{ $fg-class-col }-#{$namespace}-#{$i} {
      flex-basis: get-col-percent($i);
      max-width:  get-col-percent($i);
    }
  }

  @for $i from 1 through $fg-columns {

    // Don't include the .off class for the last column
    @if ( $i != $fg-columns ) {
      .#{ $fg-class-off }-#{$namespace}-#{$i} {
        margin-left: get-col-percent($i);
      }
    }

  }

  .#{ $fg-class-off }-#{$namespace}-reset {
    margin-left: 0;
  }

}