$--viewport-4-: 480px;
$--viewport-7-: 768px;
$--viewport-9-: 992px;
$--viewport-12-: 1200px;
$--viewport-16-: 1600px;

$fg-columns: 12 !default;
$fg-gutter: 0.5rem !default;

$fg-class-row: 'row' !default;
$fg-class-col: 'col' !default;
$fg-class-off: 'off' !default;

$fg-breakpoints: (
                (xs),
                (sm, 768px),
                (md, 992px),
                (lg, 1200px)
) !default;
