@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.col-xs, .col-sm, .col-md, .col-lg, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.col-xs, .col-sm, .col-md, .col-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.off-xs-1 {
  margin-left: 8.3333333333%; }

.off-xs-2 {
  margin-left: 16.6666666667%; }

.off-xs-3 {
  margin-left: 25%; }

.off-xs-4 {
  margin-left: 33.3333333333%; }

.off-xs-5 {
  margin-left: 41.6666666667%; }

.off-xs-6 {
  margin-left: 50%; }

.off-xs-7 {
  margin-left: 58.3333333333%; }

.off-xs-8 {
  margin-left: 66.6666666667%; }

.off-xs-9 {
  margin-left: 75%; }

.off-xs-10 {
  margin-left: 83.3333333333%; }

.off-xs-11 {
  margin-left: 91.6666666667%; }

.off-xs-reset {
  margin-left: 0; }

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-sm-1 {
    margin-left: 8.3333333333%; }

  .off-sm-2 {
    margin-left: 16.6666666667%; }

  .off-sm-3 {
    margin-left: 25%; }

  .off-sm-4 {
    margin-left: 33.3333333333%; }

  .off-sm-5 {
    margin-left: 41.6666666667%; }

  .off-sm-6 {
    margin-left: 50%; }

  .off-sm-7 {
    margin-left: 58.3333333333%; }

  .off-sm-8 {
    margin-left: 66.6666666667%; }

  .off-sm-9 {
    margin-left: 75%; }

  .off-sm-10 {
    margin-left: 83.3333333333%; }

  .off-sm-11 {
    margin-left: 91.6666666667%; }

  .off-sm-reset {
    margin-left: 0; } }
@media only screen and (min-width: 992px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-md-1 {
    margin-left: 8.3333333333%; }

  .off-md-2 {
    margin-left: 16.6666666667%; }

  .off-md-3 {
    margin-left: 25%; }

  .off-md-4 {
    margin-left: 33.3333333333%; }

  .off-md-5 {
    margin-left: 41.6666666667%; }

  .off-md-6 {
    margin-left: 50%; }

  .off-md-7 {
    margin-left: 58.3333333333%; }

  .off-md-8 {
    margin-left: 66.6666666667%; }

  .off-md-9 {
    margin-left: 75%; }

  .off-md-10 {
    margin-left: 83.3333333333%; }

  .off-md-11 {
    margin-left: 91.6666666667%; }

  .off-md-reset {
    margin-left: 0; } }
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-lg-1 {
    margin-left: 8.3333333333%; }

  .off-lg-2 {
    margin-left: 16.6666666667%; }

  .off-lg-3 {
    margin-left: 25%; }

  .off-lg-4 {
    margin-left: 33.3333333333%; }

  .off-lg-5 {
    margin-left: 41.6666666667%; }

  .off-lg-6 {
    margin-left: 50%; }

  .off-lg-7 {
    margin-left: 58.3333333333%; }

  .off-lg-8 {
    margin-left: 66.6666666667%; }

  .off-lg-9 {
    margin-left: 75%; }

  .off-lg-10 {
    margin-left: 83.3333333333%; }

  .off-lg-11 {
    margin-left: 91.6666666667%; }

  .off-lg-reset {
    margin-left: 0; } }
._md__up_show_ {
  display: block; }
  @media (max-width: 768px) {
    ._md__up_show_ {
      display: none; } }

._md__down_show_ {
  display: none; }
  @media (max-width: 768px) {
    ._md__down_show_ {
      display: block; } }

body {
  color: #576671;
  letter-spacing: 0.25px;
  font-family: "Raleway", serif;
  font-size: 16px;
  line-height: 2;
  overflow-wrap: break-word; }

article h3 {
  font: inherit;
  font-size: 30px;
  color: #000;
  line-height: 30px;
  margin: 0; }
article h2 {
  font-size: 60px;
  line-height: 96px;
  font-weight: 200; }

.__about_us__article_description header p {
  padding: 35px 0 110px;
  font-size: 18px;
  overflow-wrap: break-word; }
  @media (max-width: 992px) {
    .__about_us__article_description header p {
      padding: 35px 0 40px; } }
  @media (max-width: 768px) {
    .__about_us__article_description header p {
      padding: 35px 0 30px; } }
.__about_us__article_description h2 {
  color: #576671;
  font-size: 60px;
  line-height: 90px;
  font-weight: 200;
  margin: 0; }
  @media (max-width: 768px) {
    .__about_us__article_description h2 {
      font-size: 40px;
      line-height: 58px; } }

.__prime__article_description h2, .__secondary__article_description h2 {
  font-size: 60px;
  line-height: 96px;
  font-weight: 200;
  color: #576671;
  margin: 0; }
  @media (max-width: 992px) {
    .__prime__article_description h2, .__secondary__article_description h2 {
      font-size: 45px;
      line-height: 53px; } }
  @media (max-width: 768px) {
    .__prime__article_description h2, .__secondary__article_description h2 {
      font-size: 40px;
      line-height: 58px; } }
.__prime__article_description p, .__secondary__article_description p {
  padding: 50px 0; }
  @media (max-width: 992px) {
    .__prime__article_description p, .__secondary__article_description p {
      padding: 25px 0; } }
  @media (max-width: 768px) {
    .__prime__article_description p, .__secondary__article_description p {
      padding: 10px 0; } }

.nav__item a {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  text-decoration: none; }
  .nav__item a:hover {
    color: #5a5a5a;
    transition: all 0.5s; }

.nav_collapse__item a {
  font-size: 60px;
  line-height: 100px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  text-decoration: none; }
  .nav_collapse__item a:hover {
    color: #5a5a5a;
    transition: all 0.5s; }

.carousel h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
  letter-spacing: 0.25px;
  color: #fff;
  padding: 0 0 20px;
  margin-bottom: 0; }
  @media (max-width: 1200px) {
    .carousel h2 {
      font-size: 42px; } }
  @media (max-width: 768px) {
    .carousel h2 {
      font-size: 24px;
      line-height: 30px;
      padding: 0 0 0; } }
.carousel p {
  font-size: 24px;
  color: #fff;
  line-height: 60px;
  margin: 0;
  overflow-wrap: break-word; }
  @media (max-width: 768px) {
    .carousel p {
      font-size: 18px; } }
.carousel span {
  font-weight: 700; }

._card_item_ p {
  font-size: 16px;
  letter-spacing: 0.25px; }
  @media (max-width: 992px) {
    ._card_item_ p {
      padding-bottom: 20px; } }
._card_item_ h3 {
  padding: 55px 0 25px; }
  @media (max-width: 992px) {
    ._card_item_ h3 {
      padding: 25px 0 25px; } }
  @media (max-width: 768px) {
    ._card_item_ h3 {
      padding: 20px 0 20px; } }

._text_center_ {
  text-align: center; }

._prime__button_ {
  width: 180px;
  border: 2px solid #fff;
  color: #fff;
  background: #17daa3;
  border-radius: 50px;
  display: block;
  margin: 100px auto 0;
  padding: 12.5px 0;
  font-size: 18px; }
  ._prime__button_:hover {
    background: #000;
    color: #fff;
    transition: all 0.5s; }

.__prime__article_description button, .__secondary__article_description button {
  float: left;
  margin: 0; }

.carousel button {
  margin: 40px auto;
  border: 2px solid transparent; }
  .carousel button:hover {
    background-color: transparent;
    border: 2px solid #17daa3;
    color: #17daa3; }

._nav__hamburger_button {
  border: none;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  float: right;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0%;
  top: 14%;
  user-select: none;
  z-index: 2; }
  ._nav__hamburger_button:before {
    color: #fff;
    font: normal 65px/80px "responsivenav";
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261";
    text-indent: 0;
    speak: none;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box; }
  ._nav__hamburger_button:active {
    border: none; }
  ._nav__hamburger_button:focus {
    outline: none; }

._nav__hamburger_button__active:before {
  font: icon;
  font-size: 50px;
  content: "\78";
  margin-top: 8px; }

._line_ {
  height: 1px;
  width: 30px;
  background: #17daa3;
  margin: 0 auto; }

i {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  background: #edeff1;
  text-align: center;
  padding-top: 21%;
  font-size: 60px;
  color: #87949e;
  box-sizing: border-box; }
  i:hover {
    background: #17daa3;
    color: #fff;
    transition: all 0.5s; }
  @media (max-width: 992px) {
    i {
      padding-top: 18%; } }
  @media (max-width: 768px) {
    i {
      width: 125px;
      height: 125px;
      padding-top: 8%; } }

._card_item_ {
  display: inline-block; }

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.carousel {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0;
  list-style: none;
  position: absolute;
  height: 100%;
  top: 0; }

.carousel__controls,
.carousel__activator {
  display: none;
  height: inherit; }

.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  transform: translateX(0%); }

.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1); }

.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1; }

.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1; }

.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  transform: translateX(-100%); }

.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1); }

.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1; }

.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1; }

.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  transform: translateX(-200%); }

.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1); }

.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1; }

.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1; }

.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  transform: translateX(-300%); }

.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1); }

.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1; }

.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1; }

.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  transform: translateX(-400%); }

.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1); }

.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1; }

.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1; }

.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #17daa3;
  outline: 0;
  z-index: 3; }

.carousel__control:hover {
  opacity: 1; }

.carousel__control--backward {
  left: 19%;
  transform: rotate(-135deg); }
  @media (max-width: 1600px) {
    .carousel__control--backward {
      left: 4%; } }
  .carousel__control--backward:hover {
    border-color: #5a5a5a; }

.carousel__control--forward {
  right: 19%;
  transform: rotate(45deg); }
  @media (max-width: 1600px) {
    .carousel__control--forward {
      right: 4%; } }
  .carousel__control--forward:hover {
    border-color: #5a5a5a; }

.carousel__indicators {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center; }

.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px; }

.carousel__indicator:hover {
  opacity: 0.75; }

.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease 0s;
  height: inherit; }

.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1; }

.carousel__track .carousel__slide:nth-of-type(1) {
  transform: translateX(0%); }

.carousel__track .carousel__slide:nth-of-type(2) {
  transform: translateX(100%); }

.carousel__track .carousel__slide:nth-of-type(3) {
  transform: translateX(200%); }

.carousel__track .carousel__slide:nth-of-type(4) {
  transform: translateX(300%); }

.carousel__track .carousel__slide:nth-of-type(5) {
  transform: translateX(400%); }

.carousel--scale .carousel__slide {
  transform: scale(0); }

.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0; }

.carousel-container {
  display: inline-block; }

.carousel__slide {
  overflow: hidden; }

.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px; }

.carousel__indicator {
  background-color: #fafafa; }

.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://unsplash.it/300?random");
  background-size: cover;
  background-position: center; }

.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://unsplash.it/600?random");
  background-size: cover;
  background-position: center; }

.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://unsplash.it/900?random");
  background-size: cover;
  background-position: center; }

.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://unsplash.it/1200?random");
  background-size: cover;
  background-position: center; }

.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://unsplash.it/1500?random");
  background-size: cover;
  background-position: center; }

.carousel__slide_description {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

nav {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  nav .nav__link_logo {
    padding-top: 21px; }
  nav .nav__item {
    width: auto;
    display: block;
    padding: 11px 25px; }

.nav__list_wrapper {
  display: flex;
  justify-content: flex-end; }

.nav_collapse {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #2dddac;
  padding: 0;
  z-index: 1; }
  .nav_collapse ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 13%; }

.nav_collapse__active {
  display: none; }
  @media (max-width: 768px) {
    .nav_collapse__active {
      display: block; } }

.nav__wrapper {
  z-index: 1;
  position: relative;
  padding: 28px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.nav__fixed {
  position: fixed;
  width: 100%;
  background-color: #17daa3;
  padding: 15px 0;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out; }

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    -o-transform: translatex(-100%);
    transform: translatex(-100%); }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0); } }
@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    -o-transform: translatex(100%);
    transform: translatex(100%); }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0); } }
.in_left, .in_right {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 1s; }

.in_left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.in_right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight; }

#header {
  position: relative;
  width: 100%;
  height: 850px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.__about_us__article_description {
  text-align: center;
  padding: 100px 0; }
  @media (max-width: 992px) {
    .__about_us__article_description {
      padding: 50px 0; } }
  @media (max-width: 768px) {
    .__about_us__article_description {
      padding: 30px 0; } }

.__prime__article_description {
  background: #f9f9fa; }

.__prime__article_description, .__secondary__article_description {
  padding: 75px 0 40px; }

/*# sourceMappingURL=styles.css.map */
