._prime__button_{
  width: 180px;
  border: 2px solid #fff;
  color: #fff;
  background: #17daa3;
  border-radius: 50px;
  display: block;
  margin: 100px auto 0;
  padding: 12.5px 0;
  font-size: 18px;
  &:hover{
    background: #000;
    color: #fff;
    transition: all 0.5s;
  }
}
.__prime__article_description, .__secondary__article_description{
  button{
    float: left;
    margin: 0;
  }
}
.carousel {
  button {
    margin: 40px auto;
    border: 2px solid transparent;

    &:hover {
      background-color: transparent;
      border: 2px solid #17daa3;
      color: #17daa3;
    }
  }
}
._nav__hamburger_button{
  border: none;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  float: right;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: absolute;
  right: 0%;
  top: 14%;
  user-select: none;
  z-index: 2;
  &:before{
    color: #fff;
    font: normal 65px/80px "responsivenav";
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261";
    text-indent: 0;
    speak: none;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
  }
  &:active{
    border: none;
  }
  &:focus{
    outline: none;
  }
}
._nav__hamburger_button__active{
  &:before{
    font: icon;
    font-size: 50px;
    content: "\78";
    margin-top: 8px;
  }
}
