i{
  width: 182px;
  height: 182px;
  border-radius: 50%;
  background: #edeff1;
  text-align: center;
  padding-top: 21%;
  font-size: 60px;
  color: #87949e;
  box-sizing: border-box;
  &:hover{
    background: #17daa3;
    color: #fff;
    transition: all 0.5s;
  }
  @include respond(md) {
    padding-top: 18%;
  }
  @include respond(sm) {
    width: 125px;
    height: 125px;
    padding-top: 8%;
  }
}