.__about_us__article_description{
  text-align: center;
  padding: 100px 0;
  @include respond(md) {
    padding: 50px 0;
  }
  @include respond(sm) {
    padding: 30px 0;
  }
}
.__prime__article_description {
  background: #f9f9fa;
}

.__prime__article_description, .__secondary__article_description {
  padding: 75px 0 40px;
}
