nav{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  .nav__link_logo{
    padding-top: 21px;
  }
  .nav__item{
    width: auto;
    display: block;
    padding: 11px 25px;
  }
}
.nav__list_wrapper{
  display: flex;
  justify-content: flex-end;
}
.nav_collapse{
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #2dddac;
  padding: 0;
  z-index: 1;
  ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 13%;
  }
}
.nav_collapse__active{
  display: none;
  @include respond(sm) {
    display: block;
  }
}

.nav__wrapper{
  z-index: 1;
  position: relative;
  padding: 28px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.nav__fixed{
  position: fixed;
  //max-width: none;
  width: 100%;
  background-color: #17daa3;
  padding: 15px 0;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
